@page
@model Delivery_logistics_system.Pages.DriverHistoryModel
@{
    Layout = "DriverLayout";
}
<div class="container mt-3">
    <h1 class="display-4 mb-4">Track Your Deliveries History</h1>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Date</th>
                <th scope="col">Shipping Method</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Requirements</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var order in Model.orders)
                {

                    <tr>
                        <td>@order.ID</td>
                        <td>@order.Date</td>
                        <td>@order.ShipmentMethod</td>
                        <td>@order.PaymentMethod</td>
                        <td>@order.Requirements</td>
                        <td>@order.Status</td>
                        <td>
                        <button class="btn btn-primary btn-sm redirect-order" data-order-id="@order.ID">Details</button>
                        </td>
                </tr>}
            }
        </tbody>
    </table>
</div>

<script>
    const redirectButtons = document.querySelectorAll('.redirect-order');

    redirectButtons.forEach(button => {
        button.addEventListener('click', () => {
            const orderId = button.dataset.orderId;
            window.location.href = `/DriverHistoryView?orderId=${orderId}`;
        });
    });
</script>
