@page
@model Delivery_logistics_system.Pages.DriverDashboardModel
@{
    Layout = "DriverLayout";
}
<div class="container mt-3">
    <h1 class="display-4 mb-4">Track Your Deliveries History</h1>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Shipping Method</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @*       @foreach (var order in Model.AvailableOrders)
            {
            <tr>
            <td>@order.OrderID</td>
            <td>@order.ShippingMethod</td>
            <td>@order.PaymentMethod</td>
            <td>@order.Date</td>
            <td>@order.Status</td>
            <td>
            <button class="btn btn-primary btn-sm redirect-order" data-order-id="@order.OrderID">View Details</button>
            </td>
            </tr> }*@
            <tr>
                <td>1871</td>
                <td>Standard</td>
                <td>Cash on Delivery</td>
                <td>2024-05-08</td>
                <td>Delivered</td>
                <td><button class="btn btn-primary btn-sm redirect-order">View Details</button></td>
            </tr>
            <tr>
                <td>1871</td>
                <td>3284</td>
                <td>9273</td>
                <td>2830</td>
                <td>2873</td>
                <td><button class="btn btn-primary btn-sm redirect-order">View Details</button></td>

            </tr>
            <tr>
                <td>3284</td>
                <td>3284</td>
                <td>3284</td>
                <td>3284</td>
                <td>3284</td>
                <td><button class="btn btn-primary btn-sm redirect-order">View Details</button></td>

            </tr>
            <tr>
                <td>8237</td>
                <td>8237</td>
                <td>8237</td>
                <td>8237</td>
                <td>8237</td>
                <td><button class="btn btn-primary btn-sm redirect-order">View Details</button></td>

            </tr>
            <tr>
                <td>2382</td>
                <td>2382</td>
                <td>2382</td>
                <td>2382</td>
                <td>2382</td>
                <td><button class="btn btn-primary btn-sm redirect-order">View Details</button></td>

            </tr>
        </tbody>
    </table>
</div>

<script>
    const redirectButtons = document.querySelectorAll('.redirect-order');

    redirectButtons.forEach(button => {
        button.addEventListener('click', () => {
            const orderId = button.dataset.orderId;
            window.location.href = `DriverHistoryView?orderId=${orderId}`;
        });
    });
</script>